
@if (isLoading)
{
    <div class="flex items-center justify-center h-screen">
    <div class="animate-spin rounded-full h-36 w-36 border-t-4 border-b-4 border-purple-900"></div>
</div>
}
@code {
    [Parameter]
    public bool isLoading { get; set; }
}
