@inherits LayoutComponentBase

<PageTitle>StuffIt</PageTitle>

<div class="flex flex-row">
    <div class="w-16 h-screen bg-gradient-to-b from-indigo-800 to-purple-900">
        <NavMenu />
    </div>

    <main class="flex-1 bg-indigo-900 items-center justify-center text-center">
        <article class="px-4 mt-10 text-indigo-200">
            @Body
        </article>
    </main>
</div>
