<div class="relative">
    @if (!collapseNavMenu)
    {
        <button
            class="bg-indigo-950 bg-opacity-30 p-3 hover:bg-indigo-900 hover:bg-opacity-50 hover:text-indigo-950 hover:opacity-50"
            @onclick="ToggleNavMenu">
            <chevrondoublerighticon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
        </button>
    }
</div>

@if (collapseNavMenu)
{
    <div class="fixed inset-y-0 flex flex-col w-48 bg-indigo-950 bg-opacity-50 p-3">
    <div class="md:fixed left-0 flex p-3 text-justify items-center">
        <img src="favicon.png" alt="logo" class="h-10 w-10" />
        <span class="text-3xl ml-4 text-indigo-100">stuff it</span>
    </div>

    <nav class="mt-28 md:fixed overflow-y-auto">
        <navlink class="flex p-3 pe-6 hover:bg-indigo-900" href="" match="navlinkmatch.all" activeclass="bg-indigo-900">
            <homemodernicon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span aria-label="home" class="ml-3 text-indigo-100">home</span>
        </navlink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="files" ActiveClass="bg-indigo-900">
            <ListBulletIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Files</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="manageUsers" ActiveClass="bg-indigo-900">
            <UserPlusIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Manage Users</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="serverActivity" ActiveClass="bg-indigo-900">
            <ChartBarSquareIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Activity</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="settings" ActiveClass="bg-indigo-900">
            <CogIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Settings</span>
        </NavLink>
    </nav>

    <div class="p-3 md:fixed bottom-0">
        <stuffit.shared.authorization.loggedinuser />
    </div>
</div>

    <button
        class="relative px-5 rounded-sm bg-indigo-950 hover:bg-indigo-900 bg-opacity-50 hover:bg-opacity-20 hover:text-indigo-950 hover:opacity-50"
        @onclick="ToggleNavMenu">
        <chevrondoublelefticon class="absolute top-1/2 left-2 transform -translate-y-1/2 w-6 text-lg text-indigo-100"
            aria-hidden="true" />
    </button>
}

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu(EventArgs e)
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
