@using Blazor.Heroicons.Solid
@if (collapseNavMenu)
{
    <div class="w-52 h-auto bg-indigo-950 bg-opacity-50">
    <div class="flex p-3 text-justify items-center">
        <img src="favicon.png" alt="Logo" class="h-10 w-10" />
        <span class="text-3xl ml-4 text-indigo-100">Stuff It</span>
    </div>

    <nav class="mt-12">
        <NavLink class="flex p-3 hover:bg-indigo-900" href="" Match="NavLinkMatch.All" ActiveClass="bg-indigo-900">
            <HomeModernIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span aria-label="Home" class="ml-3 text-indigo-100">Home</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="files" ActiveClass="bg-indigo-900">
            <ListBulletIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Files</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="manageUsers" ActiveClass="bg-indigo-900">
            <UserPlusIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Manage Users</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="serverActivity" ActiveClass="bg-indigo-900">
            <ChartBarSquareIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Activity</span>
        </NavLink>

        <NavLink class="flex p-3 hover:bg-indigo-900" href="settings" ActiveClass="bg-indigo-900">
            <CogIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
            <span class="ml-3 text-indigo-100">Settings</span>
        </NavLink>

    </nav>
</div>
}

<button class="p-3 h-auto bg-opacity-0 bg-indigo-950 hover:bg-indigo-950 hover:bg-opacity-50" @onclick="ToggleNavMenu">
    @if (collapseNavMenu)
    {
        <ChevronLeftIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
    }
    else
    {
        <ChevronRightIcon class="w-6 text-lg text-indigo-100" aria-hidden="true" />
    }
</button>

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu(EventArgs e)
    {
        Console.WriteLine("Toggling Nav Menu");
        collapseNavMenu = !collapseNavMenu;
    }
}
