@if (ShowToolTip)
{
    <div class="absolute z-50 bg-indigo-900 mx-6 p-1 shadow-md rounded-md text-gray-300 text-xs opacity-0 md:opacity-100">
    @ChildContent
    </div>
}

@code {
    [Parameter]
    public bool ShowToolTip { get; set; }
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}
