@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-3xl">Welcome To StuffIt</h1>
<h2 class="text-2xl mt-4">A StoreMeDaddy Product</h2>

<p class="mt-9 text-lg leading-relaxed text-justify justify-evenly bg-blue-950 inline-block p-8">
    Dive into the world of <span class="text-blue-400 font-semibold">StuffIt</span>, your gateway to seamless file
    management with <span class="text-indigo-400 font-semibold">StoreMeDaddy</span>!
    <br />
    <span class="font-semibold">StuffIt</span> simplifies your experience by effortlessly enabling file uploads and
    downloads from the <span class="text-indigo-400 font-semibold">StoreMeDaddy</span> server.
    <br />
    As part of a robust suite of tools designed to streamline your server-based workflow, <span
        class="font-semibold">StuffIt</span>, alongside <span class="font-semibold">StuffIt CLI</span>, empowers you to
    manage your files with ease.
    <br />
    The complete suite, comprising the <span class="text-indigo-400 font-semibold">StoreMeDaddy</span> file server,
    <span class="text-indigo-400 font-semibold">WrapMeDaddy</span> the API client library
    <span class="text-indigo-400 font-semibold">StuffIt GUI</span>, and <span class="text-indigo-400 font-semibold">StuffIt
        CLI</span>,
    provides a cohesive
    ecosystem for your data needs.
    <br />
    With the <span class="text-indigo-400 font-semibold">StoreMeDaddy</span> file server, you enjoy the convenience of
    uploading and downloading files effortlessly.
    <br />
    These versatile tools were crafted with the goal of simplifying your self-hosted development environment, delivering
    cloud-like flexibility and control.
    <br />
    Join our <a href="https://github.com/nooooaaaaah/StoreMeDaddy" aria-label="Link to Github"
        class="text-green-400 font-semibold">open-source
        community</a> today and experience the future of
    file management!
</p>

<h3 class="text-xl mt-11">Basic Tutorial</h3>
<p class="mt-9 text-lg leading-relaxed justify-evenly bg-blue-950 inline-block p-8">
    --------------------------------------------------------------------------Add Tutorial
    Here--------------------------------------------------------------------------
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</p>