@using System.ComponentModel.DataAnnotations
@page "/settings"

<h1 class="text-3xl p-3 text-center">Settings</h1>

<div class="flex">
    <div
        class="mt-20 w-64 h-[46rem] bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-violet-950 from-50% to-pink-900 rounded-lg shadow-2xl">
        <h2 class="text-2xl p-3">Options</h2>
        <div class="mt-9 flex flex-col">
            <button class="p-3 hover:bg-gradient-to-r from-violet-950 text-start" @onclick="ShowProfileSettings">Profile</button>
            <button class="p-3 hover:bg-gradient-to-r from-violet-950 text-start"
                @onclick="ShowFileSettings">File</button>
            <button class="p-3 hover:bg-gradient-to-r from-violet-950 text-start" @onclick="ShowServerSettings">Server</button>
            <button class="p-3 hover:bg-gradient-to-r from-violet-950 text-start"
                @onclick="ShowNotificationsSettings">Notifications</button>
            <button class="p-3 hover:bg-gradient-to-r from-violet-950 text-start" @onclick="ShowSecuritySettings">Security</button>
        </div>
    </div>
    <div class="w-full">
        <div class=" mx-auto">
            @if (showProfileSettings)
            {
                <div>Profile Settings Component</div>
            }
            else if (showFileSettings)
            {
                <StuffIt.Shared.Settings.FileSettings />
            }
            else if (showServerSettings)
            {
                <div>Server Settings Component</div>
            }
            else if (showNotificationsSettings)
            {
                <div>Notifications Settings Component</div>
            }
            else if (showSecuritySettings)
            {
                <div>Security Settings Component</div>
            }
        </div>
    </div>
</div>

@code {
    private bool showProfileSettings;
    private bool showFileSettings;
    private bool showServerSettings;
    private bool showNotificationsSettings;
    private bool showSecuritySettings;

    private void ShowProfileSettings()
    {
        showProfileSettings = true;
        showFileSettings = false;
        showServerSettings = false;
        showNotificationsSettings = false;
        showSecuritySettings = false;
    }

    private void ShowFileSettings()
    {
        showProfileSettings = false;
        showFileSettings = true;
        showServerSettings = false;
        showNotificationsSettings = false;
        showSecuritySettings = false;
    }

    private void ShowServerSettings()
    {
        showProfileSettings = false;
        showFileSettings = false;
        showServerSettings = true;
        showNotificationsSettings = false;
        showSecuritySettings = false;
    }

    private void ShowNotificationsSettings()
    {
        showProfileSettings = false;
        showFileSettings = false;
        showServerSettings = false;
        showNotificationsSettings = true;
        showSecuritySettings = false;
    }

    private void ShowSecuritySettings()
    {
        showProfileSettings = false;
        showFileSettings = false;
        showServerSettings = false;
        showNotificationsSettings = false;
        showSecuritySettings = true;
    }
}
