@page "/settings"
@using System.ComponentModel.DataAnnotations

<PageTitle>Settings</PageTitle>

<h1 class="text-3xl">Settings</h1>

<EditForm Model="@settings" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="text-2xl">Max File size</div>
    <div class="">
        <label for="max-items" class="">Max Items:</label>
        <InputNumber id="max-items" class="bg-indigo-900 w-20 rounded-md" @bind-Value="settings.MaxItems" />
        <ValidationMessage For="@(() => settings.MaxItems)" class="text-red-500" />
    </div>
    <!-- Add other form fields here -->
    <ValidationSummary />
    <div>Max Storage</div>

    <h2 class="text-2xl">Notifications</h2>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private SettingsViewModel settings = new SettingsViewModel();

    private void HandleValidSubmit()
    {
        // Handle form submission
    }
}

}
