@using System.ComponentModel.DataAnnotations
@using Blazor.Heroicons.Mini
@using StuffIt.Shared.Settings
@page "/settings"

<h1 class="text-3xl p-3 text-center">Settings</h1>

<div class="flex">
    <div
        class="w-64 h-[46rem] bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-violet-950 from-50% to-fuchsia-950 rounded-lg shadow-2xl">
        <div class="flex p-2 justify-center mt-3">
            <Cog6ToothIcon class="w-8 h-8" />
            <h2 class="text-2xl">Options</h2>
        </div>
        <div class="mt-9 flex flex-col">
            @foreach (SettingsOption option in Enum.GetValues(typeof(SettingsOption)))
            {
                <button
                    class="p-3 hover:bg-gradient-to-r from-fuchsia-950 text-start transition-colors duration-500  @((activeOption == option) ? "bg-indigo-900 text-white" : "")"
                    @onclick="() => SetActiveOption(option)">
                    @option
                </button>
            }
        </div>
    </div>
    <div class="flex justify-center items-center w-full">
        @switch (activeOption)
        {
            case SettingsOption.Profile:
                <ProfileSettings class="w-full max-w-xl" />
                break;
            case SettingsOption.File:
                <FileSettings class="w-full max-w-xl" />
                break;
            case SettingsOption.Server:
                <ServerSettings class="w-full max-w-xl" />
                break;
            case SettingsOption.Notifications:
                <NotificationSettings class="w-full max-w-xl" />
                break;
            case SettingsOption.Security:
                <SecuritySettings class="w-full max-w-xl" />
                break;
            case SettingsOption.Admin:
                <AdminSettings class="w-full max-w-xl" />
                break;
            default:
                <ProfileSettings class="w-full max-w-xl" />
                break;
        }
    </div>

</div>

@code {
    private SettingsOption activeOption;

    private void SetActiveOption(SettingsOption option)
    {
        activeOption = option;
    }
    public enum SettingsOption
    {
        Profile,
        File,
        Server,
        Notifications,
        Security,
        Admin
    }
}
