<div @attributes="AdditionalAttributes">
<h3>AdminSettings</h3>
</div>
@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
